.backdrop-magic{
    -fx-background-image:url("images/backdrop-magic.png");
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: #5C461E;
    -fx-border-width: 0px 0px 0px 3px;
}
.label{
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:pressed .label{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #0099ff;
}
.sidebar-btn:pressed .sidebar-btn-icon{
    -fx-fill: #0099ff;
}
.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}

.menu-bar-btns{
    -fx-background-color: #ffffff00;
}
.menu-bar-btns-icon{
    -fx-fill: #999;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
    -fx-fill: #fff;
}