.sidebar{
    -fx-background-image:url("images/blueBackground2.png");
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 3px;
}
.label{
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:pressed .label{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #0099ff;
}
.sidebar-btn:pressed .sidebar-btn-icon{
    -fx-fill: #0099ff;
}
.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}

.menu-bar-btns{
    -fx-background-color: #010A13;
    -fx-border-color: #1E282D;
}
.menu-bar-btns:hover{
    -fx-background-color: #0099ff;
}
.menu-bar-btns-icon{
    -fx-fill: #999;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
    -fx-fill: #fff;
}
.menu-bar-search-field{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
}
.menu-bar-search-field-box{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
    -fx-border-color: #1E282D;
    -fx-border-width: 0px 0px 0px 1px;
}

.content-area-circle-btns{
    -fx-background-color: #fff;
    -fx-background-radius: 100px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 100%;
}
.content-area-circle-btns:hover{
    -fx-background-color: #0099ff;
    -fx-background-radius: 100px;
    -fx-text-fill: #fff;
}
.content-area-circle-btns-icon{
    -fx-fill: #b8b1b1;
}
.content-area-circle-btns:hover .content-area-circle-btns-icon{
    -fx-fill: #fff;
}
.lbl2{
    -fx-text-fill: #757373;
}
.lbl3{
    -fx-text-fill: #00a1ff;
}